body {
 font-family: Comic Sans MS, sans-serif;
 background-color: #baced9;
 color: #333;
 margin: 20px;
}

/* h1 heading */
h1 {
 color: #222526;
 text-align: left;
}

/* paragraphs */
p {
 font-size: 20px;
 line-height: 1.5;
 margin-bottom: 15px;
}